extend layout

block content

	.page-header
		h1 d3.js Fundamentals 
			small creating charts

	.row#chart1(style='background:none; text-align:center;')
		.col-lg-12		
			h3 External data sources

	.row#chart2(style='background:none; text-align:center;')						
		.col-lg-12		
			h3 Chart with more features

	.row#chart3(style='background:none; text-align:center;')						
		.col-lg-12
			h3 Line chart

	.row#chart4(style='background:none; text-align:center;')						
		.col-lg-12
			h3 Scatter Plot

