extend layout

block content

	.page-header
		h1 d3.js Fundamentals 
			small working with data

	.row#chart1(style='background:none; text-align:center;')
		h3 CSV
		.col-lg-9#maploc
			script.
				var h = 600;
				var w = 600;
				var ds; //dataset
				var id_cutoff = 400;
				var active_set = new Set;

				function drawPoints(idTag,ds){
					var svg =
						d3.select('#' + idTag).append('svg')
						.attr('style','margin: 30px 0px 60px 0px')
						.attr({
							width:w,
							height:h,
							'fill':'white'
						});

					var dots = svg.selectAll('circle')
						.data(ds)
						.enter()
						.append('circle')
						.attr({
							cx: function(ds){ 
								if (ds.id < id_cutoff){
									return (ds.longitude-12.40)*5*w; 
								}
							},
							cy: function(ds){ 
								if (ds.id < id_cutoff)
									return (ds.latitude-41.80)*5*h; },
							r: 1,
							'fill' : function(ds){ 
													if (ds.id < id_cutoff){
														active_set.add(ds.id)
														var col = ds.id;
														return 'rgb(' + ((col*89) % 256) + ',' + ((col*57) % 256) + ',' + ((col*17) % 256) + ')';
														// return 'rgb(' + (col % 256) + ',' + ((col*150) % 256) + ',' + (col % 50) + ')';
													}
												}
						});

					var active_taxies = new Array;
					active_set.forEach( function (setItem){
						active_taxies.push(setItem);
					});

					var t = d3.select('#table_body');
					var table_id = t.selectAll('tr')
									.data(active_taxies).enter()
									.append('tr').append('td')
									.text(function(d) {return d;});
					var table_color = t.selectAll('tr')
									.append('td')
									.append('svg')
									.attr({
										'height' : 18,
										'width'  : 45,
									})
									.append('rect')
									.attr({
										'height' : 18,
										'width'  : 45,
										'fill'	 : function(d){ 
																	return 'rgb(' + ((d*89) % 256) + ',' + ((d*57) % 256) + ',' + ((d*17) % 256) + ')';
																}
									})

				}
			
				var start = performance.now();
				d3.csv('/data/taxi_february_full.csv', function(error,data){
					if (error) 
						console.log("error opening data file" + error);
					console.log("data loaded");
					ds = data;	
					var end = performance.now();
					console.log('Execution Time - Harvesting data from csv: ' + ((end-start)/1000).toString()) + ' seconds';
				
					start = performance.now();
					drawPoints('maploc',ds);	
					end = performance.now();
					time  = end - start;
					console.log('Execution Time - Drawing points: ' + ((end-start)/1000).toString()) + ' seconds';
				});

		.col-lg-3
			table(class='table table-condensed', style='table-layout:fixed; width: auto; margin: 100px 0 0 0')
				thead
					tr
						th Taxi No.
						th Color
				tbody#table_body

	.row(style='background:none; text-align:center;')						
		h3 JSON
		.col-lg-12#chart2		
			script.
				var loc = '#chart2'
				var json_ds;

				d3.json('/data/all-crime.json', function(error,data){
					if (error) 
						console.log("error opening data file" + error);
					console.log("JSON data loaded");
					json_ds = data;
					buildTable();
				});

				function buildTable()
				{


					var tableHeaders = ["Category","Location","Type","Subtype","Context","Outcome","Date"];
					var table = d3.select(loc).append('table');
					table.attr({
						'class':'table table_condensed',
					});
					table.append('tr').selectAll('th').data(tableHeaders).enter()
								.append('th').text(function(d){return d});
					var table_rows = table.selectAll('tr').data(json_ds).enter().append('tr');
					//var table_cell = table_rows.selectAll('td').data(function(d){return d;}).enter()
					//		.append('td').text(function(d){return d;});

					table_rows.append('td').text(function(d){ return d.category});
					table_rows.append('td').text(function(d){ return d.location});
					table_rows.append('td').text(function(d){ return d.location_type});

					/*
					d3.table.selectAll('tr').selectAll('td')
						.data(function(d) { 
							return d; }).enter().append('td')
						.text(function(d){
							console.log("Hello");
							console.log(d);
							return d;
						});
						*/
				}

	.row(style='background:none; text-align:center;')						
		h3 Web API
		.col-lg-12#chart3
			script.
				d3.json('http://data.consumerfinance.gov/api/views/x94z-ydhh.json', function(error,data){
					if (error)
						console.log("error opening web API data");
					console.log(data);
				});

	.row#chart4(style='background:none; text-align:center;')						
		.col-lg-12
			h3 Scatter Plot

